.gif {
  padding: 10px;
  width: 28%;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  margin: 10px;
  overflow: hidden;
  animation: expand .5s ease-in-out;
}

.image {
  width: 100%;
}

@media (max-width: 1000px) {
  .gif {
    width: 75%;
  }
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
    background: #5470B0;
  }
}